html,body {
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
}
.navbar {
    border-bottom: solid #4aaaa5 3px;
    padding: 0;
}
.navbar-brand {
    background-color: #4aaaa5;
    padding: 15px;
    margin: 0;
}
.navbar-nav {
    color: grey;
    text-align: right;
}
body {
    background-image: url("images/full-bloom.png")
}
.three {
    background: white;
    position: relative;
    top: 80px;
    border: 1.5px lightgray solid;
}
a {
    color: gray;
}
a:hover {
    color: pink;
}
h1 {
    color: white;
}
.first-header {
    color: #4aaaa5;
    padding-top: 10px;
}
/* moving header controls inline with page content */
.one, .two{
    padding-left: 0;
    padding-right: 0;
}
hr {
    border-style: solid;
    border-width: 1.5px;
    border-color: lightgray;
}
.footer {
    background: gray;
    border-top: solid 3px #4aaaa5;
    text-align: center;
    height: 60px;
    bottom: 0;
    position: relative;
    color: #ffffff;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    margin-bottom:-250px;
}
#main {
    overflow:auto;
    padding-bottom: 250px;
}
#wrapper {
    min-height: 100%;
}
.btn-primary {
    background: #4aaaa5;
    border: #4aaaa5;
}
